name: Azure Static Web Apps CI/CD

on:
  release:
    types: [created, edited]

jobs:
  build_and_deploy_job:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
          lfs: false
      - name: Set build and release information
        id: build_release_info
        run: |
          BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          COMMIT_ID=${{ github.sha }}
          BUILD_BRANCH=${{ github.ref_name }}
          VERSION_TAG=${GITHUB_REF#refs/tags/}
          sed -i "s|\"build_date\": \"0001-01-01T00:00:00Z\"|\"build_date\": \"$BUILD_DATE\"|" static/version.json
          sed -i "s|\"commit_id\": \"dummy-commit-id\"|\"commit_id\": \"$COMMIT_ID\"|" static/version.json
          sed -i "s|\"build_branch\": \"dummy-branch\"|\"build_branch\": \"$BUILD_BRANCH\"|" static/version.json
          sed -i "s|\"version_tag\": \"v0.0.0\"|\"version_tag\": \"$VERSION_TAG\"|" static/version.json
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ICY_STONE_001BE1B03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          api_location: "build/server" # Api source code path - optional
          output_location: "build" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######
        env:
          VITE_AUTH0_CLIENT_ID: VSkXGqlTD7Rf5Q4n9a0h00rInEyL2ZQj
