name: "Formatting"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: "20.19"
          cache: "npm"

      - name: Update lock file to keep package.json and package-lock.json in sync
        run: npm install

      - name: Install modules
        run: npm ci

      - name: Prettier
        run: npm run format:check
